n8n/sample-workflows/ai-prompt-workflow.json
{
  "name": "AI Content Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-content",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "credentialType": "openAiApi",
        "model": "gpt-4",
        "prompt": "={{$json.topic ? `Write a professional article about ${$json.topic}. The tone should be ${$json.tone || 'informative'} and the length should be ${$json.length || 'medium'}.` : 'Please provide a topic to generate content about.'}}",
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        }
      },
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "content",
              "value": "={{ $json.text }}"
            },
            {
              "name": "topic",
              "value": "={{ $node[\"Webhook\"].json.topic }}"
            },
            {
              "name": "generated_at",
              "value": "={{ $now.toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Response Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Set Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Response Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "1",
  "meta": {
    "instanceId": "raspiska_n8n"
  },
  "tags": [
    {
      "name": "AI",
      "color": "#00FF00"
    }
  ]
}
